
<!doctype html>
<html>
  <head>
    <title>Tag your Stars!</title>

    <link rel="stylesheet" href="lib/taggle.min.css">
    <link rel="stylesheet" href="popup.css">

    <script src="lib/rivets.bundled.min.js"></script>
    <script src="lib/taggle.min.js"></script>

    <script src="common.js"></script>
    <script src="popup.js"></script>

  </head>
  <body>
    <div id="logs"></div>

    <div id="app-unknown" class="loading" rv-class-loading="0">
      <p>Use this extension on GitHub <b>project page</b> or your <a href="https://github.com/stars" target="_blank"><b>Stars</b></a> page.</p>
    </div>

    <div id="app-project" class="loading" rv-class-loading="0">
      <h2>{title}</h2>
      <div class="input textarea clearfix tags"></div>
    </div>

    <div id="app-stars" class="loading" rv-class-loading="0">
      <h2>Starred repositories ({repos | length})</h2>

      <select rv-value="sortBy" rv-on-change="refreshFiltering">
        <option value="">Don't sort</option>
        <option value="name">Sort by Name</option>
        <option value="tagCount" rv-if="filter | equals 'untagged' | not">Sort by Tag count</option>
      </select>

      <select rv-value="filter" rv-on-change="refreshFiltering">
        <option value="">Show all</option>
        <option value="untagged">Untagged</option>
        <option value="tagged">Tagged</option>
      </select>

      <input type="text" id="text-filter"
        rv-value="textFilter" rv-on-input="refreshFiltering"
        placeholder="Filter by #tags or repo names"
      >

      &#x2192; {filteredRepos | length}

      <div class="repo-table">
        <div class="repo"
          rv-each-repo="filteredRepos" class="repo"
          rv-class-expanded="repo.isExpanded"
        >
          <span class="repo-name">{repo.name}</span>
          <span class="repo-tags-count" rv-if="repo.tags | length">{repo.tags | length}</span>
          <div class="touch-region" rv-on-click="toggleRepo | args repo"></div>

          <div class="repo-btns" rv-if="repo.isExpanded">
            <div class="input textarea clearfix tags"
              rv-repo-taggle="repo"
              rv-on-retagged="saveRepoTags"
            ></div>

            <a class="repo-open-link"
              rv-attr-href="'https://github.com/' | append repo.name"
              rv-attr-title="'https://github.com/' | append repo.name"
              target="_blank">open project page</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

